---
import type { CollectionEntry } from 'astro:content';
import getMainImage from '../../utils/getMainImage';
import CoverImage from '../images/CoverImage.astro';

type Props = {
    blackHole: CollectionEntry<"black-holes">
}

const { blackHole } = Astro.props;
const { data, slug } = blackHole;
const { name, type, images } = data;

const mainImage = getMainImage(images);
---

<article class="bg-gray-600 rounded-sm h-max">
    <div class="flex flex-col items-start gap-4 p-4">
        <div>
            <h2 class="text-2xl font-bold">{name}</h2>
            <span class="italic text-sm">{type}</span>
        </div>
        <a href={`/agujeros-negros/${slug}`} class="bg-blue-500 px-4 py-2 rounded-md transition-colors hover:bg-blue-700 hover:cursor-pointer">
            <button type="button" class="hover:cursor-pointer">Ver agujero negro</button>
        </a>
    </div>
    {
        mainImage && (
            <CoverImage image={mainImage} title={`Imagen del agujero negro ${name}`}/>
        )
    }
</article>