---
export const prerender = false;
import { getNewsBySlug } from "../../api/NewsRequests";
import Layout from "../../layouts/Layout.astro";
import '../../styles/news.css';
import formatDateToString from "../../utils/formatDateToString";

const { slug } = Astro.params;

if (!slug) {
    return Astro.redirect('/noticias');
}

const newsRequest = await getNewsBySlug(slug);

let news;

if (newsRequest.ok) {
    news = newsRequest.data;
}
else {
    console.log(newsRequest.message);
    return Astro.redirect('/noticias');
}

---

<Layout title={`Noticia - ${news.title}`}>
    <section class="flex flex-col mt-4">
        <a href="/noticias/" class="w-20 text-center bg-blue-600 rounded-md ml-2 mb-2 p-2 transition-colors hover:bg-blue-700">
            <button class="hover:cursor-pointer">Volver</button>
        </a>
        <article class="w-full md:w-1/2 flex flex-col items-center gap-3 bg-gray-400 text-black px-6 py-4 mx-auto news-article">
            <h1 class="text-3xl font-bold text-center">{news.title}</h1>
            {
                news.imageUrl && (
                    <img src={`http://localhost:3000/uploads/news/${news.imageUrl}`} alt={`Imagen de la noticia: ${news.title}`} class="w-full max-h-[400px] object-cover"/>
                )
            }
            <div class="flex flex-col">
                <span class="italic">
                    <span class="font-bold">Creación: </span>
                    {formatDateToString(news.createdAt as string)}
                </span>
                <span class="italic">
                    <span class="font-bold">Última modificación: </span>
                    {formatDateToString(news.updatedAt as string)}
                </span>
            </div>
            <div class="description">
                <p set:html={news.description}></p>
            </div>
        </article>
    </section>
</Layout>