---
import type { CollectionEntry } from "astro:content";
import formatNumber from "../../utils/formatNumber";
import { UA } from "../../consts/units";

type Props = {
    properties: CollectionEntry<"celestial-bodies">["data"]
}
const { properties } = Astro.props;

const { type, mass, diameter_km, gravity, 
        orbital_period, orbital_velocity_kms, 
        escape_velocity_kms, age, temperature, 
        periapsis_km, apoapsis_km, mean_earth_distance_AU
    } = properties;
---

<dl class="properties">
    <dt>Masa:</dt>
    <dd><span set:html={mass}></span> kg</dd>

    <dt>Diámetro y radio:</dt>
    <dd>Diámetro: {formatNumber(diameter_km)} km | Radio: {formatNumber(diameter_km / 2)} km</dd>
    
    <dt>Gravedad:</dt>
    <dd>{gravity} m/s<sup>2</sup></dd>

    <dt>Período orbital:</dt>
    <dd>{orbital_period}</dd>

    <dt>Velocidad orbital:</dt>
    <dd>{formatNumber(orbital_velocity_kms, 4)} km/s = {formatNumber(orbital_velocity_kms * 3600, 2)} km/h</dd>

    <dt>Velocidad de escape:</dt>
    <dd>{formatNumber(escape_velocity_kms, 4)} km/s = {formatNumber(escape_velocity_kms * 3600, 2)} km/h</dd>

    <dt>Edad:</dt>
    <dd>{age}</dd>

    <dt>Temperaturas:</dt>
    <dd>
        <dl class="sublist">
        {
            temperature.min && (
                <dt>Mínima:</dt>
                <dd>{temperature.min} ºC</dd>
            )
        }
        {
            temperature.max && (
                <dt>Máxima:</dt>
                <dd>{temperature.max} ºC</dd>
            )
        }
        {
            temperature.average && (
                <dt>Media:</dt>
                <dd>{temperature.average} ºC</dd>
            )
        }
        {
            temperature.surface && (
                <dt>Superfície:</dt>
                <dd>{formatNumber(temperature.surface)} ºC</dd>
            )
        }
        {
            temperature.core && (
                <dt>Núcleo:</dt>
                <dd>{formatNumber(temperature.core)} ºC</dd>
            )
        }
        </dl>
    </dd>

    <dt>Distancias:</dt>
    <dd>
        <dl class="sublist">
        {
            periapsis_km && (
                <dt>{type !== "satélite" ? "Perihelio" : "Periastro"}:</dt>
                <dd>{formatNumber(periapsis_km)} km</dd>
            )
        }
        {
            apoapsis_km && (
                <dt>{type !== "satélite" ? "Afelio" : "Apoastro"}:</dt>
                <dd>{formatNumber(apoapsis_km)} km</dd>
            )
        }
        {
            mean_earth_distance_AU && (
                <dt>Distancia media a la Tierra:</dt>
                <dd>{mean_earth_distance_AU} UA = {formatNumber(mean_earth_distance_AU * UA, 0)} km</dd>
            )
        }
    </dd>
</dl>