---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import BodyProperties from "./BodyProperties.astro";
import MoonCard from "./MoonCard.astro";

type Props = {
    celestialBody: CollectionEntry<"celestial-bodies">,
    moons: CollectionEntry<"celestial-bodies">[]
}

const { celestialBody, moons } = Astro.props;

const { slug, data } = celestialBody;

const { name, images } = data;

let moonsSorted;

if (moons.length > 0) {
    moonsSorted = moons.sort((a, b) => a.data.order - b.data.order );
}

const { Content } = await render(celestialBody);

---

<article class="mb-20">
    <h2>{name}</h2>
    <div class="flex flex-row justify-center">
        <section class="w-1/2 leading-relaxed content">
            <Content />
        </section>
        <section class="w-1/2">
            {
                images && (
                    <div class="images">
                    {
                        images.map((image : {url : string, description: string}) => (
                            <figure>
                                <img src={`solar-system/images/${image.url}`} alt={`Imagen de ${name}`}/>
                                <figcaption>{image.description}</figcaption>
                            </figure>
                        ))
                    }
                    </div>
                )
            }
            <BodyProperties properties={data}/>
        </section>
    </div>
    {
        moonsSorted && (
            <section>
                <h1>Lunas:</h1>
                    {
                        moonsSorted.map((moon) => {
                            return (
                                <MoonCard moon={moon}/>
                            )
                        })
                    }
            </section>
        )
    }
</article>