---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import BodyProperties from "./BodyProperties.astro";

type Props = {
    moon: CollectionEntry<"celestial-bodies">
}

const { moon } = Astro.props;

const { slug, data } = moon;

const { name, images } = data;

const { Content } = await render(moon);
---


<details class="p-1.5">
    <summary class="rounded-md p-2 hover:bg-slate-600 hover:text-white transition-colors duration-400 cursor-pointer" id={slug}>{name}</summary>
    <div class="flex flex-col md:flex-row justify-center bg-gray-700 rounded-md p-3 text-white ring-2 ring-neutral-400">
        <section class="content">
            <h2 class="text-2xl font-bold text-amber-400 text-center">{name}</h2>
            <Content />
        </section>
        <section class="images-properties">
            {
                images && (
                    <div class="images">
                    {
                        images.map((image) => (
                            <figure>
                                <img src={`solar-system/images/${image.url}`} alt={`Imagen de ${name}`}/>
                                <figcaption>
                                    <p>{image.description}</p>
                                    <p class="credits">(Créditos: {image.credits})</p>
                                </figcaption>
                            </figure>
                        ))
                    }
                    </div>
                )
            }
            <BodyProperties properties={data}/>
        </section>
    </div>
</details>