---
import type { News } from "../../../types/news.types";
import type { Role } from "../../../types/users.types";
import Delete from "../../../assets/icons/delete.svg";
import Edit from "../../../assets/icons/edit.svg";
import formatDateToString from "../../../utils/formatDateToString";

type Props = {
    news: News,
    role: Role,
}

const { news, role } = Astro.props;
const newsData = news;
---

<article class="flex flex-col items-center gap-2 bg-gray-300 text-black px-3 py-2 rounded-md" id={`news-${newsData._id}`}>
    <div class="flex flex-row justify-between w-full">
        <span class={newsData.published ? 'text-green-500' : 'text-red-500'}>{newsData.published ? 'Publicada' : 'No Publicada'}</span>
        <div class="flex flex-row gap-2">
            <a href={`/admin/news/${newsData._id}`}>
                <Edit class="w-5 hover:cursor-pointer"/>
            </a>
            {
                role === "admin" && (
                    <Delete class="w-7 text-red-500 hover:cursor-pointer delete-icon" id={`delete-${newsData._id}`}/>
                )
            }
        </div>
    </div>
    <h3 class="text-xl font-bold text-center">{newsData.title}</h3>
    {
        newsData.imageUrl !== null && (
            <img src={`http://localhost:3000/uploads/news/${newsData.imageUrl}`} alt="Imagen de la noticia" class="w-2/3"/>
        )
    }
    <span>
        <span class="font-bold">Creación: </span>
        {formatDateToString(newsData.createdAt as string)}
    </span>
    <span>
        <span class="font-bold">Última modificación: </span>
        {formatDateToString(newsData.updatedAt as string)}
    </span>
    <div>
        <p set:html={newsData.description}></p>
    </div>
</article>