---
import type { CollectionEntry } from 'astro:content'
import getMainImage from '../../utils/getMainImage';
import CoverImage from '../images/CoverImage.astro';

type Props = {
    eventType: CollectionEntry<"event-types">
}

const { eventType } = Astro.props;
const { data, slug } = eventType;
const { name, description, images } = data;

const mainImage = getMainImage(images);
---

<article class="bg-gray-800 h-max flex flex-col gap-4">
    <div class="flex flex-col items-start gap-2 px-4 md:px-8 py-4">
        <h4 class="text-lg font-semibold text-amber-300">{name}</h4>
        <p>{description}</p>
        <a href={`/eventos/${slug}`} class="mt-2">
            <button class="w-full bg-blue-600 text-white rounded-md p-2 hover:bg-blue-700 hover:cursor-pointer transition-colors">Leer más</button>
        </a>
    </div>
    {
        mainImage && (
            <CoverImage image={mainImage} title={`Imagen del evento: ${name}`}/>
        )
    }
</article>