---
import type { CollectionEntry } from 'astro:content';
import getMainImage from '../../utils/getMainImage';
import CoverImage from '../images/CoverImage.astro';

type Props = {
    galaxyType: CollectionEntry<"galaxy-types">,
    galaxies: CollectionEntry<"galaxies">[]
}

const { galaxyType, galaxies } = Astro.props;
const { data, slug } = galaxyType;
const { name, description } = data;

const galaxiesWithImage = galaxies.filter((galaxy) => galaxy.data.images);

let galaxyImage;
if (galaxiesWithImage.length > 0) {
    const galaxyRandom = galaxiesWithImage[Math.floor(Math.random() * galaxiesWithImage.length)];

    galaxyImage = getMainImage(galaxyRandom.data.images);
}
---

<article class="bg-gray-600 rounded-sm h-max">
    <div class="flex flex-col items-start gap-4 p-4">
        <h2 class="text-2xl font-bold">{name}</h2>
        <p>{description}</p>
        <a href={`/galaxias/${slug}`} class="bg-blue-500 px-4 py-2 rounded-md transition-colors hover:bg-blue-700 hover:cursor-pointer">
            <button type="button" class="hover:cursor-pointer">Ver galaxias</button>
        </a>
    </div>
    {
        galaxyImage && (
            <CoverImage image={galaxyImage} title={`Imagen de una galaxia del tipo: ${name}.`}/>
        )
    }
</article>